//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Главная ------------------------------
//  ------------------------------------------------------------------------------

.top{
    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            content: '';
            background-image: url('../../img/slider.jpg');
            position: absolute;
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
        }
    }
    &__slider-item{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img{
        margin-left: -15%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info{
        max-width: 645px;
        margin-left: 25px;
    }
    &__slider-title{
        color: $title;
        font-size: 110px;
        line-height: 135px;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        @extend %title-font;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 185px;
            height: 1px;
            background: #6D7278;
            
        }
    }
    &__slider-text{
        max-width: 585px;
    }
}

.new-collection{
    text-align: center;
    padding: 45px 0 105px;
    &__title{
        color: $title;
        font-size: 36px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        @extend %title-font;
        &::after{
            content: '';
            position: absolute;
            width: 250px;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #6D7278;
        }
    }
    &__text{
        color: #5A5A5A;
        max-width: 730px;
        margin: 0 auto 30px;
    }
}

.collection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    &__item{
        position: relative;
        
        &:hover{
           .collection__info{
            opacity: 1;
           } 
        }
    }
    &__images{
        min-width: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
    }
    &__info-title{
        font-size: 20px;
        line-height: 25px;
        color: $title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        @extend %title-font;
        &::after{
            content: '';
            bottom: 0;
            position: absolute;
            height: 1px;
            background-color: #6D7278;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            
        }
    }
    &__info-text{
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}

.decor{
    padding: 170px 0 155px;
    background-image: url(../../img/decor-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    &__title{
        font-size: 60px;
        line-height: 80px;
        max-width: 730px;
        color: $title;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        @extend %title-font;
        &::after{
            content: '';
            bottom: 0;
            position: absolute;
            height: 1px;
            background-color: #6D7278;
            width: 200px;
            left: 0;          
        }
    }
    &__text{
        font-size: 16px;
        line-height: 28px;
        max-width: 540px;
        color:#5A5A5A;
        
    }
}

.works-path{
    padding: 80px 0 30px;
    &__title{
        @extend %title-font;
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 51px;
    }
    &__items-box{
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, .7);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $title;

        }

    }
    &__item{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 100%; 
    }
    &__item--production{
        margin-left: 317px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }
    &__item--production,
    &__item--consultation{
        padding-bottom: 38px;

    }
    &__item--measuring{
        padding-top: 38px;
        margin-left: 305px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }
    &__item-title{
        margin-left: 13px;
        font-size: 16px;
        color: $title;
        @extend %title-font;
    }
    &__item-text{
        margin-top: 13px;
    }
}